<!DOCTYPE html>
<html>
  <head>
    <title>Meticulist</title>
    <link href="https://fonts.googleapis.com/css?family=Damion|Lato:700|Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= favicon_link_tag asset_path('fav.ico'), :rel => 'shortcut icon', :type =>  'image/svg+xml' %>
    <script type="text/javascript">
      window.unsplashAccessKey = "<%= Rails.application.credentials.unsplash[:access_key_id] %>"
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '192733332176829',
          cookie     : true,
          xfbml      : true,
          version    : 'v7.0'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=192733332176829&autoLogAppEvents=1"></script>
    <%= yield %>
  </body>
</html>
