<!DOCTYPE html>
<html>
  <head>
    <title>Meticulist</title>
    <link href="https://fonts.googleapis.com/css?family=Damion|Lato:700|Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= favicon_link_tag asset_path('fav.ico'), :rel => 'shortcut icon', :type =>  'image/svg+xml' %>
    <script type="text/javascript">
      window.unsplashAccessKey = "<%= Rails.application.credentials.unsplash[:access_key_id] %>"
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
